/*
Red     Green   Blue
FCC     CFC     CCF
F00     0F0     00F
300     030     003
*/

h1{
    text-align: center;
}

.goals{
    color: #FFF;
    border-collapse: collapse;
    width: 850px;
    margin: 50px auto;
}
.goals th,td{
    border: 10px double #800;
    padding: 10px;
    width: 425px;
}